<!-- Primary Navigation -->
<nav class="main-nav">
    <div class="nav-container">
        <a href="index.html" class="nav-logo">
            <img src="img/gpr-logo.png" alt="Global Path Recruitment Logo">
        </a>
        <ul class="nav-links custom-nav-font">
            <li><a href="index.html">Home</a></li>
            <li><a href="pages/recruitment.html">Recruitment</a></li>
            <li><a href="pages/training.html">Training</a></li>
            <li><a href="pages/about.html">About</a></li>
            <li><a href="pages/contact.html">Contact</a></li>
        </ul>
    </div>
</nav> 